.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  padding: 15px;
}

.pokemon {
  position: relative;
  height: 120px;
}

.pokemon img {
  position: absolute;
  bottom: 5px;
  right: 0;
  height: 110px;
}

.pokemon p {
  position: absolute;
  top: 5px;
  left: 20px;
}

.pagination {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  padding: 0 15px;
}

.button {
  border-radius: 7px;
  padding: 17px;
  font-size: 19px;
  font-weight: 660;
  letter-spacing: 1.5px;
  background-color: rgb(255, 255, 255);
  transition-duration: 0.8s;
  color: black;
  text-align: center;
  text-transform: capitalize;
}

.buttonNext {
  border-radius: 7px;
  padding: 17px;
  font-size: 19px;
  font-weight: 660;
  letter-spacing: 1.5px;
  background-color: rgb(255, 255, 255);
  transition-duration: 0.8s;
  color: rgb(0, 0, 0);
  text-align: center;
  text-transform: capitalize;
}

.buttonNext:hover {
  background-color: rgb(143, 144, 155);
  cursor: pointer;
}

.buttonNext:disabled {
  color: rgb(66, 61, 61);
}

.buttonNext:disabled:hover {
  background-color: rgb(255, 0, 0);
  cursor: not-allowed;
}

.button:hover {
  background-color: rgb(209, 209, 209);
  cursor: pointer;
}

.button:disabled {
  color: #999;
}

.button:disabled:hover {
  background-color: rgb(255, 0, 0);
  cursor: not-allowed;
}

.page-number {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #ee1515;
}

.form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: calc(100% - 30px);
  margin-left: 15px;
  margin-top: 15px;
}

.form input {
  padding: 15px;
  border: none;
  background-color: #eee;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 18px;
  outline: none;
}

.form button {
  font-size: 18px;
  background-color: goldenrod;
  color: #fff;
  font-weight: 800;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transition-duration: 0.2s;
}

.form button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.error-message {
  color: red;
  padding: 0 15px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 800;
}

.error-container {
  height: 840px;
  justify-content: center;
  align-items: center;
  display: flex;
}